<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:redis="http://www.springframework.org/schema/redis"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	   	  http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
	   	  http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	   	  http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd
		  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">

    <description>Spring公共配置</description>
	<context:annotation-config/> 

    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
    <context:component-scan base-package="com.xiaoming">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <!--数据库配置参数-->
    <context:property-placeholder location="classpath:config.properties" />
    <!-- 开启支持@AspectJ风格的切面声明 -->
    <aop:aspectj-autoproxy/>
    
    <!-- mongodb配置 -->
    <!-- <mongo:db-factory id="mongoDbFactory" client-uri="mongodb://${mongodb.username}:${mongodb.password}@${mongodb.servers}/${mongodb.database}?${mongodb.options}"/>
    <mongo:repositories mongo-template-ref="mongoTemplate" base-package="com.xiaoguikuaipao.app.mongo.repository" />
    <mongo:mapping-converter db-factory-ref="mongoDbFactory" base-package="com.xiaoguikuaipao.app.mongo.entity"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
        <constructor-arg name="mongoConverter" ref="mongoConverter"/>
    </bean>
    <bean id="mongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
        <constructor-arg name="mappingContext" ref="mappingContext" />
        <property name="typeMapper" ref="defaultMongoTypeMapper" />
    </bean>
    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null/>这里设置为空，可以将spring data mongodb保存时多余的_class字段去掉
        </constructor-arg>
    </bean>
    <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" /> -->

    <bean id="user" class="com.xiaoming.entity.User">
    	<property name="id" value="1"></property>
    	<property name="name" value="zhangsan"></property>
    </bean>
</beans>